.DateRangePicker {
  /* padding: 0 8px; */
}

.DateRangePicker_picker {
  /* width: 320px; */
}

.DateRangePickerInput {
  border: none;
  padding: 0 8px;
}

.DateRangePickerInput div {
  margin-right: 16px;
}

.DateInput {
  width: 88px;
}

.DateInput_input {
  font: normal 18px/21px Circular_Air-Light;
  padding: 0 0 2px;
  margin: 0;
  height: 23px;
  color: #636363;
}

.DateRangePicker_picker__openDown {
  top: 48px;
}
.DateInput__openDown:before,
.DateInput__openDown:after {
  display: none;
}

.DayPicker {
  box-shadow: none;
}

.DateInput_input__focused {
  border-bottom: 1px solid #008489;
}

.DateInput_input__focused,
.DateInput_input__focused::placeholder {
  color: #0f7276;
}

.DayPicker_weekHeaders {
  margin: 0;
  padding: 0;
}

.DayPicker_weekHeader {
  top: -16px;
  margin: 0 0 0 -8px;
  padding: 0;
  width: 320px;
  box-shadow: 0 0.5px rgba(72, 72, 72, 0.3);
}
.DayPicker_weekHeader_ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4px;
}

.DayPicker_weekHeader_li small {
  color: #636363;
  font: normal 12px/14px Circular_Air-Light;
}

.CalendarMonthGrid {
  left: 0;
  /* width: 320px; */
}

.CalendarMonth {
  padding: 0;
  /* width: 320px; */
}

.CalendarDay_container {
  margin: 0;
  padding: 0;
}

.CalendarDay_button {
  width: 42px;
  height: 42px;
}

.CalendarMonth {
  padding-left: 8px;
}

.CalendarMonth_caption {
  padding-bottom: 8px;
}

.CalendarMonth_caption strong {
  font: normal 18px/21px Circular_Air-Bold;
  color: #383838;
}

.DayPicker_weekHeader_li small {
  font-size: 100%;
}
