.rheostat {
  overflow: visible;
}

.rheostat-background {
  border-top: 6px solid #008489;
  position: relative;
  width: 258px;
  margin-left: 16px;
}

.rheostat-progress {
  background-color: green;
  position: absolute;
}

.rheostat-handle {
  background: url("pit.svg") 0 0 transparent;
  height: 32px;
  /*outline: none;*/
  /*z-index: 2;*/
  top: -12px;
  width: 32px;
  border: none;
  appearance: none;
}

.rheostat-handle:before,
.rheostat-handle:after {
  content: "";
  display: block;
  position: absolute;
  background-color: yellow;
}
