.CalendarDay_container {
  border: 1px solid #d5d5d5;
  color: #383838;
}
.CalendarDay__blocked_calendar {
  background: transparent;
  border: 1px solid #d5d5d5;
  color: #cbcbcb;
}
.DayPickerNavigation_svg__horizontal {
  fill: #767676;
}
.DayPickerNavigation_container {
  box-shadow: none;
}

.CalendarMonth {
  padding: 0;
  /*padding: 0 19px;*/
}
.CalendarMonthGrid {
  margin-left: 0;
}

.CalendarMonth_table {
  margin-top: 4px;
}
.DayPicker_weekHeader {
  color: #636363;
  /* margin: 0; */
  /* padding: 0; */
}

.DayPicker_weekHeader:nth-child(2) {
  margin-left: 6px;
}

.DayPicker_weekHeader_ul {
  display: flex;
  justify-content: space-around;
  margin: 1px 0 4px;
}
.DayPicker__horizontal {
  box-shadow: none;
}
.DayPicker_weekHeader_li small {
  font: normal 12px/14px Circular_Air-Book;
}
.CalendarDay_button {
}

@media (min-width: 320px) {
  .DayPicker_weekHeader {
    width: 320px;
    padding: 0;
    margin: 0;
  }
  .DayPicker_weekHeader_ul {
    padding: 0 23px;
  }
  .DayPickerNavigation_button {
    display: none;
  }
  .CalendarMonth {
    width: 274px;
    padding-left: 23px;
  }
  .CalendarMonth_caption {
    font: normal 18px/21px Circular_Air-Bold;
    width: 274px;
    color: #383838;
  }

  .CalendarDay_button {
    font: normal 12px/14px Circular_Air-Book;
    width: 38px;
    height: 38px;
  }
}

@media (min-width: 768px) {
  .DayPickerNavigation_rightButton__horizontal {
    right: 16px;
  }
  .DayPickerNavigation_button {
    display: inline-block;
  }
  .DayPicker_weekHeaders {
    margin-left: 0;
  }
  .CalendarMonth {
    padding-left: 12px;
    padding-right: 12px;
  }
  .DayPickerNavigation_rightButton__horizontal {
    margin-right: 8px;
  }
}

@media (min-width: 992px) {
  .CalendarMonthGrid__horizontal {
    left: 18px;
  }

  .CalendarMonth {
    margin-right: 36px;
    padding: 0;
  }
  .DayPickerNavigation_rightButton__horizontal {
    right: 8px;
  }
}
